#game {
  width: 300px;
  background-color: "#0B8C75";
  border-top: 50px solid #0b518c;
  border-bottom: 15px solid #0b518c;
  border-left: 15px solid #0b518c;
  border-right: 15px solid #0b518c;
}

#canvas {
  display: block;
}

#gameScore {
  float: left;
  margin-left: 15px;
  margin-bottom: 0px;
}
