* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

/* White mode */
:root {
  --page-width: 100%;
  --page-bg-color: #ffffff;
  --page-padding: 0 20px;
  --title-font-color: #404040;
  --title-font-weight: 700;
  --paragraph-font-family: "Raleway", sans-serif;
  --paragraph-font-size: 20px;
  --paragraph-font-weight: 400;
  --paragraph-font-color: #404040;
  --paragraph-line-height: 1.5;
  --subsection-padding: 40px;
  --subsection-width: 500px;
  --project-btn-border-radius: 0px;
  --project-btn-box-shadow: 0 2px 10px 0 #a9a9a9;
  --project-img-box-shadow: 0 2px 20px 0 #a9a9a9;
}

.homepage {
  width: var(--page-width);
  height: 90vh;
  min-height: 800px;
  background-image: linear-gradient(180deg, #38aecc, #307ab3);
}

.nav-menu {
  width: 320px;
  display: flex;
  flex-direction: row;
  padding: 30px 0px;
  margin: 0 auto;
}

nav li {
  list-style: none;
  margin: 0px 15px;
}

.nav-menu a {
  color: white;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 0px;
  text-decoration: none;
  outline: none;
}

.nav-menu a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  border-bottom: 3px solid white;
  transition: width 300ms ease;
}

.nav-menu a:hover:after {
  width: 100%;
}

.hamburger {
  display: none;
}

/* cloud and title */
.homepage-subsection {
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
}

.cloud-img {
  width: 500px;
  z-index: 5;
  transform: translateX(30px);
}

#homepage-title {
  position: absolute;
  width: 500px;
  top: 63%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: title-appear 1s ease-in 1s forwards;
}

@keyframes title-appear {
  100% {
    opacity: 1;
  }
}

.my-name {
  font-size: 40px;
  font-weight: 900;
  color: white;
  letter-spacing: 2px;
}

.homepage-line {
  width: 310px;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  animation: div-stretch 1s ease-in 2.5s forwards;
}

@keyframes div-stretch {
  100% {
    transform: scaleX(1);
  }
}

.my-position {
  font-size: 22px;
  font-weight: 800;
  color: white;
  letter-spacing: 3px;
}

/* raindrops */
#rain-area {
  position: relative;
  width: 250px;
  height: 150px;
  /* background-color: steelblue; */
  transform: translate(80px, -15px);
  z-index: -1;
}

.raindrop {
  position: absolute;
  font-weight: 800;
  font-size: 20px;
  color: #00ffaa;
  top: 1px;
  animation: rain ease-in 1 forwards;
}

@keyframes rain {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(150px); /*raindrop vertical distance*/
    display: none;
  }
}

/* About Me section */
.about-me-page {
  position: relative;
  width: var(--page-width);
  height: 700px;
  background-color: var(--page-bg-color);
}

.about-me-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
}

.about-me-section > h1 {
  color: var(--title-font-color);
  font-weight: var(--title-font-weight);
  text-align: center;
  margin-bottom: 20px;
}

.about-me-subsection-one {
  width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-me-profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about-me-profile-info > ul {
  list-style-type: none;
}

.about-me-profile-info > ul > li {
  font-size: 18px;
  font-weight: 400;
  color: var(--paragraph-font-color);
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 5px;
}

.about-me-profile-info > ul > li > img {
  width: 20px;
  margin-right: 10px;
}

.about-me-subsection-two {
  width: 100vw;
  max-width: 600px;
}

.about-me-subsection-two p {
  font-size: 20px;
  font-weight: 400;
  color: var(--paragraph-font-color);
  line-height: 1.5;
  margin: 20px 0px;
}

/* section borders */
.border-top {
  position: absolute;
  top: 0%;
  right: 40%;
  left: 40%;
  border-top: 1px solid #d3d3d3;
}

.border-bottom {
  position: absolute;
  left: 40%;
  bottom: 0%;
  right: 40%;
  border-bottom: 1px solid #d3d3d3;
}

/* IT Blog section */
.it-blog-page {
  position: relative;
  width: var(--page-width);
  height: 700px;
  background-color: var(--page-bg-color);
}

.it-blog-flexbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.it-blog-subsection-one {
  width: 600px;
  color: var(--paragraph-font-color);
  padding: var(--subsection-padding);
}

.it-blog-subsection-one > h1 {
  color: var(--title-font-color);
  font-size: 30px;
  font-weight: var(--title-font-weight);
}

.it-blog-link {
  font-size: var(--paragraph-font-size);
  margin: 30px 0px 0px 0px;
}

.it-blog-link > a {
  font-size: var(--paragraph-font-size);
  color: var(--paragraph-font-color);
  text-decoration: none;
  transition: all 200ms;
}

.it-blog-link > a:hover {
  color: #307ab3;
}

.it-blog-subsection-one > p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-font-color);
  margin: 20px 0px;
  line-height: var(--paragraph-line-height);
}

.tech-flex-container {
  display: flex;
  align-items: flex-end;
  margin: 0px 0px 10px 0px;
}

.tech-flex-container img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transform: translateY(5px);
}

.it-blog-subsection-one > a > button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #ff8243;
  padding: 10px 15px;
  border: none;
  border-radius: var(--project-btn-border-radius);
  margin: 10px 5px 10px 0px;
  box-shadow: var(--project-btn-box-shadow);
  outline: none;
}

.it-blog-subsection-one > a > button:hover {
  background-color: #ff6700;
  transition: 0.2s;
}

.IT-Blog-img {
  width: 800px;
  box-shadow: var(--project-img-box-shadow);
}

/* Tip App Section - start */
.tip-app-page {
  position: relative;
  width: var(--page-width);
  height: 800px;
  background-color: var(--page-bg-color);
}

.tip-app-section-flexbox {
  position: absolute;
  width: 700px;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tip-app-subsection-one {
  width: 620px;
}

.tip-app-subsection-two {
  width: 600px;
  padding: var(--subsection-padding);
  color: var(--paragraph-font-color);
}

.tip-app-subsection-two > p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  line-height: var(--paragraph-line-height);
  margin: 20px 0px;
}

.tip-app-subsection-two > a > button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #ff8243;
  padding: 10px 15px;
  border: none;
  border-radius: var(--project-btn-border-radius);
  margin: 10px 0px;
  box-shadow: var(--project-btn-box-shadow);
  outline: none;
}

.tip-app-subsection-two > a > button:hover {
  background-color: #ff6700;
  transition: 0.2s;
}

#tip-gray-btn {
  margin-right: 15px;
}

/* Tip App CSS - start */
#tip-app-background {
  position: relative;
  width: 375px;
  width: 277px;
  height: 812px;
  height: 600px;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: var(--project-img-box-shadow);
}

.title-container {
  position: absolute;
  width: 100%;
  height: 148px;
  padding: 42px 0px;
  background-color: none;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

#tip-container {
  z-index: 1;
  background-color: #ffffff;
  width: 340px;
  width: 250px;
  height: 335px;
  height: 248px;
  margin: 0 auto;
  padding: 85px 20px;
  padding: 63px 15px;
  border-radius: 20px;
  transform: translateY(111px);
  background-color: #ffffff;
}

#tip-container > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  font-size: 16px;
  color: #666666;
  padding: 5px 0px 7px 0px;
  margin: 0px 0px;
  border-bottom: 1px solid #cccccc;
}

#tip-container > div > p {
  color: #000000;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  transform: translateY(170px);
}

input {
  border: none;
  font-family: inherit;
  font-size: 14px;
  width: 155px;
  padding: 5px 0px;
  border-radius: 20px;
  transition: border 0.3s;
  text-align: center;
  margin: 3px auto;
}

input[type="number"]::placeholder {
  color: #dfdfdf;
}

.gray-mode-placeholder::placeholder {
  color: #999999;
}

input[type="number"]:focus {
  outline: none;
}

#tip-submit-btn {
  width: 155px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  padding: 5px 0px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0px 5px 8px #666666;
  margin: 3px auto;
  outline: none;
}

#tip-submit-btn:hover {
  background-color: #ff6e19;
  transition: all 500ms;
}

/* #tip-submit-btn:focus {
  outline: none;
} */

/* Tip App - Gray mode */
.gray-mode-tip-bg {
  background: none;
  background-color: #cccccc;
}

.gray-mode-tip-container {
  box-shadow: 0px 5px 6px #999999;
}

.gray-mode-tip-input {
  background-color: #ffffff;
}

.gray-mode-tip-submit {
  background-color: #666666;
}

/* Tip App - Green mode */
.green-mode-tip-bg {
  background: radial-gradient(
    at top,
    rgba(93, 212, 165, 1) 0%,
    rgba(42, 200, 138, 1) 50%,
    rgba(39, 157, 110, 1) 100%
  );
}

.green-mode-tip-container {
  box-shadow: 0px 5px 10px #777777;
}

.green-mode-tip-input {
  background-color: rgba(39, 157, 110, 1);
  color: #ffffff;
}

.green-mode-tip-submit {
  background-color: #ff8000;
}
/* Tip App CSS - end */

/* python section - start */
.python-page {
  position: relative;
  width: var(--page-width);
  height: 700px;
  background-color: var(--page-bg-color);
}

.python-section-flexbox {
  position: absolute;
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.python-subsection-one {
  /* width: 600px; */
  padding: var(--subsection-padding);
  color: var(--paragraph-font-color);
}

.python-subsection-one h1 {
  color: var(--title-font-color);
  font-size: 30px;
  font-weight: var(--title-font-weight);
}

.python-subsection-one > p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-font-color);
  margin: 20px 0px;
  line-height: var(--paragraph-line-height);
}

.python-tech-flex-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.python-tech-flex-container p {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 5px 0px 0px;
}

.python-tech-flex-container img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  transform: translateY(5px);
}

.python-subsection-one > a > button {
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: #ff8243;
  padding: 10px 15px;
  border: none;
  border-radius: var(--project-btn-border-radius);
  margin: 10px 5px 10px 0px;
  box-shadow: var(--project-btn-box-shadow);
  outline: none;
}

.python-subsection-one > a > button:hover {
  background-color: #ff6700;
  transition: 0.2s;
}

.python-subsection-two {
  width: 350px;
}

.python-caption {
  height: 70px;
  padding: 10px 0px;
  text-align: center;
}

.python-subsection-two {
  display: inline-block;
  max-width: 265px;
  box-shadow: var(--project-img-box-shadow);
  margin-bottom: 10px;
}

.python-subsection-two p {
  font-size: 22px;
  font-weight: 600;
  color: var(--paragraph-font-color);
}
/* python section - end */

/* Certifications section */
.certification-page {
  position: relative;
  width: var(--page-width);
  height: 600px;
  background-color: var(--page-bg-color);
}

#cert-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* cert title flex container */
#cert-section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

#cert-section img {
  width: 50px;
  height: 50px;
  display: inline-block;
}

/* years flex container */
#years-container {
  width: 980px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.year {
  display: inline-block;
  margin: 5px 0px;
  color: #307ab3;
  font-weight: 800;
}

/* timeline flex container */
#timeline {
  height: 30px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot,
.line,
.downward-line,
.cert-titles {
  display: inline-block;
  background-color: lightgray;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 6px rgb(236, 236, 236);
}

.line {
  z-index: 1;
  width: 300px;
  height: 3px;
}

#downward-lines-container {
  height: 100px;
  margin: -15px auto 0px auto;
}

/* downward lines flex container */
.downward-lines-flex {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.downward-line {
  width: 3px;
  margin: 0px 0px 5px 0px;
}

.downward-animation {
  animation-name: downward-animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* fade in vertical lines from top to bottom */
@keyframes downward-animation {
  from {
    transform-origin: top center;
    transform: scaleY(0);
  }

  to {
    transform-origin: top center;
    transform: scaleY(100%);
  }
}

.line-1 {
  transform: translateX(-280px);
}

.line-2 {
  transform: translateX(-10px);
}

.line-3 {
  transform: translateX(80px);
}

.line-4 {
  transform: translateX(135px);
}

.line-5 {
  transform: translateX(260px);
}

.line-6 {
  transform: translateX(310px);
}

.line-7 {
  transform: translateX(360px);
}

.short {
  height: 60px;
}

.long {
  height: 130px;
}

.cert-title {
  width: 100px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
}

.cert-appear {
  animation-name: cert-appear;
  animation-duration: 0.5s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes cert-appear {
  100% {
    opacity: 1;
  }
}
/* certifications section end */

/* footer start */
footer {
  position: relative;
  height: 150px;
  background-image: linear-gradient(180deg, #38aecc, #307ab3);
  padding: 50px 20px;
  text-align: center;
}

footer a {
  display: inline-block;
  color: white;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.5px;
  margin: 0px;
  text-decoration: none;
  outline: none;
}

footer a:after {
  content: "";
  display: block;
  margin: auto;
  width: 0px;
  border-bottom: 3px solid white;
  transition: width 300ms ease;
}

footer a:hover:after {
  width: 100%;
}
/* footer end */

/* Media Queries */

@media screen and (max-width: 1100px) {
  /* certification page */
  .certification-page {
    height: 880px;
    padding: 20px;
  }

  /* change certification timeline direction to vertical */
  #cert-section {
    width: 100%;
    max-width: 345px;
    height: 750px;
    text-align: left;
    margin: 0 auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  #cert-section-title {
    margin: 0px 0px 30px 0px;
  }

  #timeline-container {
    width: 100%;
    max-width: 345px;
    display: flex;
  }

  #years-container {
    width: 40px;
    height: 670px;
    margin: 0px 10px 0 0;
    flex-direction: column;
  }

  #timeline {
    height: 670px;
    margin: 0px;
    flex-direction: column;
  }

  .dot {
    width: 15px;
    height: 15px;
  }

  .line {
    width: 3px;
    height: 200px;
  }

  #downward-lines-container {
    position: relative;
    width: 200px;
    height: 670px;
    margin: 0px;
    transform: translateX(-6px);
  }

  .downward-lines-flex {
    position: absolute;
    flex-direction: row;
    left: 0px;
  }

  @keyframes downward-animation {
    from {
      transform-origin: top left;
      transform: scaleX(0);
    }

    to {
      transform-origin: top left;
      transform: scaleX(100%);
    }
  }

  .long {
    width: 85px;
    height: 3px;
    margin: 0px 10px 0px 0px;
  }

  .short {
    width: 40px;
    height: 3px;
    margin: 0px 10px 0px 0px;
  }

  .cert-title {
    width: 200px;
  }

  .line-1 {
    transform: translateY(160px);
  }

  .line-2 {
    transform: translateY(370px);
  }

  .line-3 {
    transform: translateY(400px);
  }

  .line-4 {
    transform: translateY(460px);
  }

  .line-5 {
    transform: translateY(535px);
  }

  .line-6 {
    transform: translateY(570px);
  }

  .line-7 {
    transform: translateY(595px);
  }

  .cert-section-info {
    font-size: 22px;
    width: 600px;
  }

  .certification-page .border-bottom {
    display: none;
  }
}

/* Portrait and Landscape */
/* (min-width: 375px) and  */
@media screen and (min-width: 375px) and (max-width: 812px) {
  :root {
    --page-width: 100vw;
    --page-bg-color: #ffffff;
    --title-font-color: #404040;
    --title-font-weight: 700;
    --paragraph-font-family: "Raleway", "Georgia", sans-serif;
    --paragraph-font-size: 18px;
    --paragraph-font-weight: 400;
    --paragraph-font-color: #404040;
    --paragraph-line-height: 1.5;
    --subsection-padding: 20px;
    --subsection-width: 500px;
    --project-btn-border-radius: 0px;
    --project-btn-box-shadow: 0 2px 10px 0 #a9a9a9;
    --project-img-box-shadow: 0 2px 20px 0 #a9a9a9;
  }

  /* show hamburger menu */
  .hamburger {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 50%;
    padding: 2px 0px;
    margin: 20px;
    cursor: pointer;
  }

  .hamburger-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 4px auto;
  }

  .nav-menu {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 800px;
    text-align: center;
    clip-path: circle(100px at 100% 0%);
    -webkit-clip-path: circle(100px at 0% 0%);
    background-image: linear-gradient(180deg, #38aecc, #307ab3);
    transition: all 600ms ease-out;
    z-index: 2;
  }

  .nav-menu.open {
    clip-path: circle(1200px at 100% 0%);
    -webkit-clip-path: circle(1200px at 100% 0%);
  }

  .nav-menu li {
    padding: 10px 0;
  }

  .nav-menu a {
    display: inline-block;
    border-bottom: none;
  }

  .nav-menu a:hover:after {
    width: 0%;
  }

  /* homepage section */
  .homepage {
    position: relative;
    height: 100vh;
  }

  .homepage-subsection {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    width: 100vw;
  }

  .cloud-img,
  #rain-area {
    display: none;
  }

  #homepage-title {
    top: 0%;
    left: 0%;
    transform: translate(20px, 350px);
    width: 280px;
    align-items: flex-start;
  }

  .my-name {
    font-size: 42px;
  }

  .homepage-line {
    display: none;
  }

  .my-position {
    font-size: 30px;
  }

  /* About Me Section */
  .about-me-section {
    width: 100%;
  }

  .about-me-subsection-one {
    width: 100%;
    max-width: 600px;
    flex-direction: column;
  }

  .about-me-profile-info {
    margin-top: 20px;
  }

  .about-me-subsection-two {
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    margin: 0 auto;
  }

  .about-me-subsection-two p {
    font-size: 18px;
    padding: 20px;
    margin: 0;
  }

  /* IT Blog Section */
  .it-blog-flexbox {
    width: 100%;
    padding: 20px;
    flex-direction: column-reverse;
  }

  .it-blog-subsection-one {
    width: 100%;
    max-width: 600px;
    padding: 0;
  }

  .IT-Blog-img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  /* tip App Section */
  .tip-app-page {
    height: 1100px;
  }

  .tip-app-section-flexbox {
    width: 100%;
    padding: 20px;
    flex-direction: column;
  }

  .tip-app-subsection-one {
    width: 100%;
    margin-bottom: 30px;
  }

  .tip-app-subsection-two {
    width: 100%;
    max-width: 600px;
    padding: 0;
  }

  .tip-app-subsection-two a {
    text-decoration: none;
  }

  #tip-github-btn {
    display: block;
  }

  /* Python Section */
  .python-section-flexbox {
    width: 100%;
    padding: 20px;
    flex-direction: column-reverse;
  }

  .python-subsection-one {
    width: 100%;
    max-width: 500px;
  }

  .python-subsection-two {
    width: 100%;
    margin: 0 auto 10px auto;
  }

  /* footer section */
  footer {
    height: 120px;
    padding: 30px;
  }

  footer a {
    display: inline-block;
    border-bottom: none;
  }

  footer a:hover:after {
    width: 0%;
  }
}
